// Global
$margin: 10px;
$margin-small: 0px;
$background: rgba(255, 243, 174, 0.7);
$padding: 10px 15px;
$text-color: #7F5119;
$border: 0px solid $text-color;

body {
  background-color: black;
}

.counter-sandwich {
  display: none;
}

#overlay {
  position: absolute;
  top: 0;
  z-index: -2;
  background-color: transparent;
}
#howManyContainer {
  position: relative;
  font-family: 'Courier', monospaced;
  color: $text-color;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

#header {
  max-width: 500px;
  background: $background;
  padding: $padding;
  margin: $margin;
  border: $border;
  text-align: center;
  
  h1 {
   font-size: 2em;
   line-height: 1em;
   margin: 0; 
  }
  h2 {
    margin: 0;
  }
  h1, h2 {
    padding: 0;
    background-color: transparent;
  }
  p {
    margin-bottom: 10px
  }
  #total {
    margin: 0px 0 0 -10px;
    font-size: 6em;
  }
  #counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    .animal {
      display: flex;
      img {
        max-height: 20px;
        margin: 0 5px 0 10px;
      }
    }
  }
}
}

@media (max-width: 900px) {
  #sidebar #header {
    max-width: 250px;
    h1, h2 {
     font-size: 1em;
     line-height: 1em; 
    }
    #total {
      font-size: 2em;
      margin: 5px 0;
    }
  }
}